/*table id=Lihtne*/
#Lihtne{
    width: 60%;
    border: 1px black solid;
    height: 200px;
    border-collapse: collapse; /*üks joon border'is*/
}
#Lihtne td{
    border: 1px solid black;
    text-align: center;
}

#Lihtne tr:nth-child(1) td:nth-child(1){ /*1.rida 1.lahter*/
    background-color: red;
}

#Lihtne tr:nth-child(1) td:nth-child(2){ /*1.rida 2.lahter*/
    background-color: rosybrown;
}

#Lihtne tr:nth-child(2) td:nth-child(1){ /*2.rida 1.lahter*/
    background-color: mistyrose;
}

#Lihtne tr:nth-child(2) td:nth-child(2){ /*2.rida 2.lahter*/
    background-color: lightpink;
}

/*table id=Meedium*/
#Meedium{
    width: 40%;
    border: 1px black solid;
    height: 150px;
    border-collapse: collapse; /*üks joon border'is*/
}
#Meedium td{
    border: 1px solid black;
    text-align: center;
}

#Meedium tr:nth-child(1) td:nth-child(1){ /*1.rida 1.lahter*/
    background-color: red;
}

#Meedium tr:nth-child(1) td:nth-child(2){ /*1.rida 2.lahter*/
    background-color: rosybrown;
}

#Meedium tr:nth-child(2) td:nth-child(1){ /*2.rida 1.lahter*/
    background-color: mistyrose;
}

#Meedium tr:nth-child(2) td:nth-child(2){ /*2.rida 2.lahter*/
    background-color: lightpink;
}

/*table id=Lõpp*/
#Lõpp{
    width: 40%;
    border: 1px black solid;
    height: 150px;
    border-collapse: collapse; /*üks joon border'is*/
}
#Lõpp td{
    border: 1px solid black;
    text-align: center;
}

#Lõpp tr:nth-child(1) td:nth-child(1){ /*1.rida 1.lahter*/
    background-color: red;
}

#Lõpp tr:nth-child(1) td:nth-child(2){ /*1.rida 2.lahter*/
    background-color: rosybrown;
}

#Lõpp tr:nth-child(2) td:nth-child(1){ /*2.rida 1.lahter*/
    background-color: mistyrose;
}

#Lõpp tr:nth-child(2) td:nth-child(2){ /*2.rida 2.lahter*/
    background-color: lightpink;
}
#Lõpp tr:nth-child(2) td:nth-child(3){ /*2.rida 1.lahter*/
    background-color: hotpink;
}
#Lõpp tr:nth-child(3) td:nth-child(1){ /*2.rida 2.lahter*/
    background-color: deeppink;
}
#Lõpp tr:nth-child(3) td:nth-child(2){ /*2.rida 1.lahter*/
    background-color: mediumpurple;
}

#Lõpp tr:nth-child(4) td:nth-child(1){ /*2.rida 2.lahter*/
    background-color: rebeccapurple;
}

/*table id=Custom*/
#Custom{
    width: 40%;
    border: 1px black solid;
    height: 150px;
    border-collapse: collapse; /*üks joon border'is*/
}
#Custom td{
    border: 1px solid black;
    text-align: center;
}

#Custom tr:nth-child(1) td:nth-child(1){ /*1.rida 1.lahter*/
    background-color: red;
}

#Custom tr:nth-child(1) td:nth-child(2){ /*1.rida 2.lahter*/
    background-color: red;
    width : 70px;
}

#Custom tr:nth-child(2) td:nth-child(1){ /*2.rida 1.lahter*/
    background-color: mistyrose;
}

#Custom tr:nth-child(2) td:nth-child(2){ /*2.rida 2.lahter*/
    background-color: lightpink;
}
#Custom tr:nth-child(3) td:nth-child(1){ /*2.rida 1.lahter*/
    background-color: lightpink;
    height: 40px;
}
#Custom tr:nth-child(3) td:nth-child(2){ /*2.rida 2.lahter*/
    background-color: mistyrose;
    height: 40px;
}
#Custom tr:nth-child(4) td:nth-child(1){ /*2.rida 1.lahter*/
    background-color: mistyrose;
}

#Custom tr:nth-child(4) td:nth-child(2){ /*2.rida 2.lahter*/
    background-color: lightpink;
}

#Custom tr:nth-child(4) td:nth-child(3){ /*2.rida 2.lahter*/
    background-color: red;
}

#Custom tr:nth-child(5) td:nth-child(1){ /*2.rida 2.lahter*/
    background-color: lightpink;
}

#Custom tr:nth-child(5) td:nth-child(2){ /*2.rida 2.lahter*/
    background-color: mistyrose;
}

#Custom tr:nth-child(6) td:nth-child(1){ /*2.rida 2.lahter*/
    border: 1px red solid;
    color: red;
}

/*table id=Sümbol*/
#Sümbol{
    width: 40%;
    border: none;
    height: 150px;
    border-collapse: collapse;
}
#Sümbol td{
    text-align: center;
    border: none;
}

#Sümbol tr:nth-child(1) td:nth-child(1){ /*1.rida 1.lahter*/
    background-color: orangered;
    border: 1px orangered solid;
    border-collapse: collapse; /*üks joon border'is*/
}

#Sümbol tr:nth-child(1) td:nth-child(3){ /*2.rida 1.lahter*/
    background-color: orangered;
    border: 1px orangered solid;
    border-collapse: collapse; /*üks joon border'is*/
}

#Sümbol tr:nth-child(2) td:nth-child(2){ /*2.rida 2.lahter*/
    background-color: orangered;
    border: 1px orangered solid;
    border-collapse: collapse; /*üks joon border'is*/
}
#Sümbol tr:nth-child(2) td:nth-child(4){ /*2.rida 1.lahter*/
    background-color: orangered;
    border: 1px orangered solid;
    border-collapse: collapse; /*üks joon border'is*/
}
#Sümbol tr:nth-child(3) td:nth-child(2){ /*2.rida 2.lahter*/
    background-color: orangered;
    border: 1px orangered solid;
    border-collapse: collapse; /*üks joon border'is*/
}
#Sümbol tr:nth-child(4) td:nth-child(2){ /*2.rida 1.lahter*/
    background-color: orangered;
    border: 1px orangered solid;
    border-collapse: collapse; /*üks joon border'is*/
}

#Sümbol tr:nth-child(4) td:nth-child(4){ /*2.rida 2.lahter*/
    background-color: orangered;
    border: 1px orangered solid;
    border-collapse: collapse; /*üks joon border'is*/
}

#Sümbol tr:nth-child(5) td:nth-child(1){ /*2.rida 2.lahter*/
    background-color: orangered;
    border: 1px orangered solid;
    border-collapse: collapse; /*üks joon border'is*/
}

#Sümbol tr:nth-child(5) td:nth-child(3){ /*2.rida 2.lahter*/
    background-color: orangered;
    border: 1px orangered solid;
    border-collapse: collapse; /*üks joon border'is*/
}